<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="2">
	<test name="SGA Role">
		<classes>
			<class name="isonLogin" />
			<class name="usersSort" />
			<class name="managePasswordRAdmin" />
			<class name="searchUsers" />
			<class name="manageProfilePic" />
			<class name="editUser" />
			<class name="addEditDelRegion" />
			<class name="addEditDelCircle" />
			<class name="addUser" />
			<class name="deactivateActivateUser" />
			<class name="addEditDelSite" />
			<class name="addUserSDHead" />
			<class name="importBulkUsersRAdmin" />
			<class name="listSentNotifications" />
			<class name="sendNotificationsRAdmin" />
			<class name="trainingOverviewDashboardClient" />
			<class name="searchTraining" />
			<class name="usersExportSDHead" />
			<class name="sendNotifications" />
			<class name="deactivateActivateUserTrainer" />
			<class name="addUserRAdmin" />
			<class name="deactivateActivateUserSDHead" />
			<class name="CertificateSDHead" />
			<class name="listSentNotificationsClient" />
			<class name="managePasswordTrainer" />
			<class name="CertificateRAdmin" />
			<class name="manageProfilePicSDHead" />
			<class name="TrainingModuleGuestOne" />
			<class name="sendNotificationsSDHead" />
			<class name="TestClassRoomTraining" />
			<class name="trainingOverviewDashboardGuestOne" />
			<class name="listSentNotificationsTrainer" />
			<class name="TestClassRoomTrainingSDHead" />
		</classes>
	</test>
	<test name="Trainer Role">
		<classes>
			<class name="receivedNotifications" />
			<class name="Certificate" />
			<class name="importBulkUsers" />
			<class name="addUserTrainer" />
			<class name="addEditDelLob" />
			<class name="managePassword" />
			<class name="deactivateActivateUserRAdmin" />
			<class name="UserProfile" />
			<class name="usersExport" />
			<class name="manageProfilePicRAdmin" />
			<class name="usersExportRAdmin" />
			<class name="NotificationsTrainee" />
			<class name="managePasswordSDHead" />
			<class name="SearchUserClient" />
			<class name="importBulkUsersSDHead" />
			<class name="usersExportTrainer" />
			<class name="SearchUserGuestOne" />
			<class name="listSentNotificationsRAdmin" />
			<class name="SearchUserSiteHead" />
			<class name="trainingOverviewDashboardSiteHead" />
			<class name="sendNotificationsTrainer" />
			<class name="listSentNotificationsGuestOne" />
			<class name="TrainingModuleClient" />
			<class name="listSentNotificationsSiteHead" />
			<class name="TrainingModuleSiteHead" />
			<class name="listSentNotificationsSDHead" />
			<class name="TestClassRoomTrainingRAdmin" />
			<class name="AssessmentModuleRAdmin" />
		</classes>
	</test>
	<test name="Dashboard Scripts">
		<classes>
			<class name="managePollSurvey" />
			<class name="EditTrainingTrainer" />
			<class name="myCalendarDashboardClient" />
			<class name="CopyTraining" />
			<class name="lmsActiveUsersDashboard" />
			<class name="EditTraining" />
			<class name="myCalendarDashboard" />
			<class name="CopyTrainingRAdmin" />
			<class name="lmsActiveUsersDashboardGuestOne" />
			<class name="EditTrainingRAdmin" />
			<class name="lmsActiveUsersDashboardSDHead" />
			<class name="TestClassRoomTrainingTrainer" />
			<class name="CopyTrainingSDHead" />
			<class name="lmsActiveUsersDashboardTrainer" />
			<class name="EditTrainingSDHead" />
			<class name="globalInsightsDashboard" />
			<class name="TrainingModule" />
			<class name="lmsActiveUsersDashboardRAdmin" />
			<class name="lmsActiveUsersDashboardClient" />
			<class name="lmsActiveUsersDashboardSiteHead" />
			<class name="myCalendarDashboardGuestOne" />
			<class name="myCalendarDashboardSDHead" />
			<class name="myCalendarDashboardSiteHead" />
			<class name="TrainingModuleRAdmin" />
			<class name="myCalendarDashboardTrainer" />
			<class name="myCalendarDashboardRAdmin" />
			<class name="lmsQuickAccessDashboardRAdmin" />
			<class name="lmsQuickAccessDashboard" />
			<class name="lmsQuickAccessDashboardClient" />
			<class name="lmsQuickAccessDashboardGuestOne" />
			<class name="lmsQuickAccessDashboardSDHead" />
			<class name="TrainingModuleSDHead" />
			<class name="lmsQuickAccessDashboardSiteHead" />
			<class name="lmsQuickAccessDashboardTrainee" />
			<class name="onlineTrainingsDashboardTrainer" />
			<class name="onlineTrainingsDashboardSDHead" />
			<class name="onlineTrainingsDashboardRAdmin" />
			<class name="onlineTrainingsDashboardSiteHead" />
			<class name="TrainingModuleTrainer" />
			<class name="onlineTrainingsDashboardClient" />
			<class name="trainingOverviewDashboard" />
			<class name="trainingOverviewDashboardRAdmin" />
			<class name="trainingOverviewDashboardSDHead" />
			<class name="trainingOverviewDashboardTrainer" />
			<class name="AssessmentModuleSDHead" />
			<class name="EditPoll" />
			<class name="SdTeam" />
			<class name="AdminSettings" />
			<class name="AssessmentModule" />
			<class name="EmailNotification" />
			<class name="CopyAssessment" />
			<class name="lmsQuickAccessDashboardTrainer" />
			<class name="onlineTrainingsDashboard" />
			<class name="AssessmentModuleTrainer" />
			<class name="onlineTrainingsDashboardGuestOne" />
			<class name="UserGroup" />
			<class name="UserGroupRAdmin" />
			<class name="userGroupSDHead" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
